---
layout: base.njk
title: Home
---

<p>Blog Posts</p>

<ul>
    {% for post in collections.post | reverse %}
        <li>
            <span datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | displayDateString }}</span> -
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </li>
    {% endfor %}
</ul>

<p>Links</p>

<ul>
    {% for link in links %}
        <li><a href="{{ link.url | url}}">{{ link.name }}</a></li>
    {% endfor %}
</ul>