---
layout: base.njk
title: Home
---

<h2>Hello World</h2>

<p>
    I'm Al, a software developer in Vancouver, BC. Currently, I am keeping busy with:
</p>

<ul>
    <li>Software development at Absolute Software,</li>
    <li>Graduate coursework at Georgia Tech, and</li>
    <li>Occasional open-source development for various projects.</li>
</ul>

<p>
    I keep some of my stuff on <a href="">GitHub</a> and track my reading on <a href="">Goodreads</a>.
</p>

<h2>Blog Posts</h2>

<ul>
    {% for post in collections.post | reverse %}
        <li>
            <span class="large-screen-only"><span class="gray-text" datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | displayDateString }}</span> -</span>
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </li>
    {% endfor %}
</ul>

<h2>Links</h2>

<ul>
    {% for link in links %}
        <li><a href="{{ link.url | url}}">{{ link.name }}</a></li>
    {% endfor %}
</ul>