---
layout: base.njk
title: Home
---

<h1>Blog Posts</h1>

<ul>
    {% for post in collections.post | reverse %}
        <li>
            <span class="gray-text" datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | displayDateString }}</span> -
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </li>
    {% endfor %}
</ul>

<h1>Links</h1>

<ul>
    {% for link in links %}
        <li><a href="{{ link.url | url}}">{{ link.name }}</a></li>
    {% endfor %}
</ul>