<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {%- if title %}{{ title }} | {% endif %}
        {{- metadata.title -}}
    </title>

    <meta name="description" content="{{ description or metadata.description }}">

    <link rel="preconnect" href="{{ 'https://fonts.gstatic.com' | url }}"> 
    <link rel="stylesheet" href="{{ 'https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Merriweather&display=swap' | url }}">

    <link rel="stylesheet" href="{{ '/css/syntax-highlight.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | url}}">
</head>
<body>
    <header>
        <h3 id="site-title" class="no-margin no-padding"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h3>
    </header>

    <main>
        {{ content | safe }}
    </main>

    <footer>
        <p class="center-text no-margin no-padding">MIT License</p>
        <p class="center-text no-margin no-padding"><a href="{{ metadata.sourceUrl | url }}">/octos4murai</a></p>
    </footer>
</body>
</html>